In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from src.google_flight_analysis.scrape import *

In [2]:
x = Scrape("MUC", "FCO", "2023-11-28")

In [4]:
x.data

,Departure datetime,Arrival datetime,Airline(s),Travel Time,Origin,Destination,Num Stops,Layover,Stops Location,Price (€),Price Trend,Price Value,Access Date,Flight Type,Days in Advance
0,2023-11-28 10:45:00,2023-11-28 12:15:00,Lufthansa,01:30,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
1,2023-11-28 13:20:00,2023-11-28 14:50:00,Lufthansa,01:30,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
2,2023-11-28 10:50:00,2023-11-28 12:30:00,ITA,01:40,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
3,2023-11-28 10:00:00,2023-11-28 18:10:00,VuelingIberia,08:10,MUC,FCO,1,04:15,BCN,79,None,None,2023-05-23,One Way,189
4,2023-11-28 21:00:00,2023-11-29 09:05:00,VuelingIberia,12:05,MUC,FCO,1,08:05,BCN,79,None,None,2023-05-23,One Way,189
5,2023-11-28 08:40:00,2023-11-28 10:10:00,Lufthansa,01:30,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
6,2023-11-28 17:25:00,2023-11-28 18:55:00,Lufthansa,01:30,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
7,2023-11-28 19:50:00,2023-11-28 21:20:00,Lufthansa,01:30,MUC,FCO,0,None,None,95,None,None,2023-05-23,One Way,189
8,2023-11-28 14:00:00,2023-11-28 17:50:00,Lufthansa,03:50,MUC,FCO,1,01:05,FRA,123,None,None,2023-05-23,One Way,189
9,2023-11-28 06:26:00,2023-11-28 12:40:00,Lufthansa,06:14,Flight + Train,Flight + Train,3,"QUL, ZWS, FRA","QUL, ZWS, FRA",173,None,None,2023-05-23,One Way,189

In [5]:
# dfs = []
# for i in range(10, 26):
#     print(i)
#     df = Scrape('MUC', 'JFK', f"2023-09-{i}")
#     dfs.append(df.data)
    
# df_all = pd.concat(dfs))
# # df_all

In [6]:
# plot_data = df_all.groupby("Days in Advance")["Price (€)"].mean()
# plt.plot(plot_data)