In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient

from src.google_flight_analysis.scrape import Scrape

In [2]:
x = Scrape("FCO", "LAX", "2023-07-05")

In [3]:
x.run_scrape()

In [4]:
x.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,flight_type,days_advance
0,2023-07-05 21:35:00,2023-07-06 14:10:00,Separate tickets booked together,25:35,FCO,LAX,1,11:20,LGW,655,low,193,2023-06-08 13:01:15.112820,oneway,27
1,2023-07-05 18:10:00,2023-07-05 09:15:00,Separate tickets booked together,17:20,FCO,LAX,1,02:15,BCN,1026,low,193,2023-06-08 13:01:15.112827,oneway,27
2,2023-07-05 13:05:00,2023-07-05 21:25:00,ITA,12:50,FCO,LAX,0,29:00,min,1272,low,193,2023-06-08 13:01:15.112830,oneway,27
3,2023-07-05 07:00:00,2023-07-05 22:49:00,"Lufthansa, Condor, Jet, Blue",24:49,FCO,LAX,2,None,None,880,low,193,2023-06-08 13:01:15.112832,oneway,26
4,2023-07-05 06:00:00,2023-07-05 21:23:00,"Tap Air Portugal, Jet, Blue",24:23,FCO,LAX,2,None,None,968,low,193,2023-06-08 13:01:15.112834,oneway,26
5,2023-07-05 07:00:00,2023-07-05 18:10:00,Separate tickets booked together,20:10,FCO,LAX,1,05:05,BCN,993,low,193,2023-06-08 13:01:15.112836,oneway,26
6,2023-07-05 20:25:00,2023-07-06 18:30:00,Aer Lingus,31:05,FCO,LAX,1,16:35,DUB,1033,low,193,2023-06-08 13:01:15.112837,oneway,27
7,2023-07-05 22:35:00,2023-07-05 11:10:00,Air Transat,19:20,FCO,LAX,1,03:45,YUL,1102,low,193,2023-06-08 13:01:15.112841,oneway,27
8,2023-07-05 18:30:00,2023-07-05 06:30:00,Aer Lingus,16:20,FCO,LAX,1,01:40,DUB,1304,low,193,2023-06-08 13:01:15.112843,oneway,27

In [5]:
x.url

'https://www.google.com/travel/flights?q=Flights%20to%20LAX%20from%20FCO%20on%202023-07-05%20oneway'