In [1]:
from src.google_flight_analysis.scrape import Scrape

In [14]:
x = Scrape("BIL", "SYD", "2023-07-09")
x.run_scrape()
print(x.url)
x.data

https://www.google.com/travel/flights?q=Flights%20to%20SYD%20from%20BIL%20on%202023-07-09%20oneway&curr=EUR&gl=IT

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-07-09 14:33:00,2023-07-11 06:55:00,[United],1462,BIL,SYD,2,1440,min,1543,typical,None,2023-06-27 17:10:57.664379,True,False,11
1,2023-07-09 13:19:00,2023-07-11 06:35:00,[Delta],1516,BIL,SYD,2,1500,min,1588,typical,None,2023-06-27 17:10:57.664404,True,False,11
2,2023-07-09 14:02:00,2023-07-11 07:05:00,[American],1503,BIL,SYD,2,1920,min,1661,typical,None,2023-06-27 17:10:57.664407,True,False,11
3,2023-07-09 12:26:00,2023-07-11 07:45:00,"[American, Qantas]",1639,BIL,SYD,2,1920,min,2372,typical,None,2023-06-27 17:10:57.664409,True,False,11
4,2023-07-09 06:50:00,2023-07-11 07:45:00,"[Alaska, Qantas]",1975,BIL,SYD,2,1440,min,2434,typical,None,2023-06-27 17:10:57.664411,True,False,11

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-07-07 11:35:00,2023-07-07 13:15:00,[Eurowings],100,STR,FCO,0,NaN,None,55,None,None,2023-06-27 17:07:49.077519,True,False,9
1,2023-07-07 08:30:00,2023-07-07 12:40:00,[ITA],250,STR,FCO,1,110.0,LIN,99,None,None,2023-06-27 17:07:49.077530,True,False,9
2,2023-07-07 17:25:00,2023-07-07 21:00:00,[Lufthansa],215,STR,FCO,1,85.0,MUC,176,None,None,2023-06-27 17:07:49.077532,True,False,10
3,2023-07-07 08:30:00,2023-07-07 12:10:00,[ITA],220,STR,FCO,1,80.0,LIN,153,None,None,2023-06-27 17:07:49.077535,True,False,9
4,2023-07-07 06:00:00,2023-07-07 10:00:00,[Lufthansa],240,STR,FCO,1,110.0,MUC,176,None,None,2023-06-27 17:07:49.077537,True,False,9
5,2023-07-07 15:15:00,2023-07-07 20:40:00,[Austrian],325,STR,FCO,1,160.0,VIE,193,None,None,2023-06-27 17:07:49.077539,True,False,9
6,2023-07-07 12:20:00,2023-07-07 17:15:00,"[Vueling, Iberia]",295,STR,FCO,1,65.0,BCN,201,None,None,2023-06-27 17:07:49.077541,True,False,9
7,2023-07-07 14:15:00,2023-07-07 18:45:00,[KLM],270,STR,FCO,1,60.0,AMS,218,None,None,2023-06-27 17:07:49.077545,True,False,9

In [6]:
x.url

'https://www.google.com/travel/flights?q=Flights%20to%20FCO%20from%20FMM%20on%202023-07-07%20oneway&curr=EUR&gl=IT'