In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient

from src.google_flight_analysis.scrape import Scrape

In [2]:
x = Scrape("MUC", "LAX", "2023-11-28")

In [3]:
x.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,flight_type,days_advance
0,2023-11-28 21:20:00,2023-11-29 14:10:00,"easyJet, Norse Atlantic UK",25:50,MUC,LAX,1,12:10,LGW,400,low,61,2023-06-04 01:49:31.829779,oneway,177
1,2023-11-28 12:50:00,2023-11-29 01:38:00,"Tap Air Portugal, JetBlue",21:48,MUC,LAX,2,"LIS, JFK","LIS, JFK",515,low,61,2023-06-04 01:49:31.829793,oneway,177
2,2023-11-28 07:00:00,2023-11-28 11:50:00,KLMDelta,13:50,MUC,LAX,1,01:05,AMS,663,low,61,2023-06-04 01:49:31.829796,oneway,177
3,2023-11-28 07:00:00,2023-11-28 13:00:00,Air FranceDelta,15:00,MUC,LAX,1,01:25,CDG,666,low,61,2023-06-04 01:49:31.829798,oneway,177
4,2023-11-28 11:00:00,2023-11-28 20:45:00,"DeltaVirgin Atlantic, KLM",18:45,MUC,LAX,1,02:44,ATL,661,low,61,2023-06-04 01:49:31.829800,oneway,177
5,2023-11-28 10:50:00,2023-11-28 19:10:00,"Air France, Delta",17:20,MUC,LAX,1,03:20,CDG,664,low,61,2023-06-04 01:49:31.829802,oneway,177
6,2023-11-28 15:25:00,2023-11-28 21:00:00,Air FranceDelta,14:35,MUC,LAX,1,01:05,CDG,750,low,61,2023-06-04 01:49:31.829804,oneway,177
7,2023-11-28 10:50:00,2023-11-28 18:35:00,Aer Lingus,16:45,MUC,LAX,1,02:45,DUB,768,low,61,2023-06-04 01:49:31.829808,oneway,177
8,2023-11-28 17:35:00,2023-11-29 20:20:00,"Lufthansa, LOT",35:45,Flight + Train,Flight + Train,3,"ZAQ, FRA, WAW","ZAQ, FRA, WAW",1352,low,61,2023-06-04 01:49:31.829810,oneway,177
9,2023-11-28 17:35:00,2023-11-29 20:20:00,"Lufthansa, LOT",35:45,Flight + Train,Flight + Train,3,"ZAQ, FRA, WAW","ZAQ, FRA, WAW",1352,low,61,2023-06-04 01:49:31.829812,oneway,177
10,2023-11-28 12:00:00,2023-11-28 15:15:00,LufthansaUnited,12:15,MUC,LAX,0,None,None,1467,low,61,2023-06-04 01:49:31.829814,oneway,177

In [4]:
from src.google_flight_analysis.database import Database
import private.private as private


db = Database(private.DB_URL, private.DB_NAME, private.DB_COLL)
db

Created index [origin_index] on collection [scraped]
Created index [destination_index] on collection [scraped]

Connected to database [flight-analysis], collection [scraped]

In [5]:
db.add_pandas_df(x.data)

Added 11 rows to collection [scraped]

In [6]:
db.collection.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'origin_index': {'v': 2, 'key': [('origin', 1)]},
 'destination_index': {'v': 2, 'key': [('destination', 1)]}}

In [7]:
for i in db.collection.list_indexes():
    print(i.get("name"))

_id_
origin_index
destination_index

In [8]:
# db.collection.delete_many({"days_advance": 177})

In [9]:
# collection.create_index([ ("Price (€)", -1) ])

In [10]:
# collection.insert_many(x.data.copy().to_dict("records"))