In [1]:
from src.google_flight_analysis.scrape import Scrape

In [2]:
x = Scrape("FCO", "MUC", "2023-07-05")

In [3]:
x.run_scrape()

In [4]:
x.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,flight_type,days_advance
0,2023-07-05 15:30:00,2023-07-05 20:15:00,"Eurowings, Lufthansa",04:45,FCO,MUC,1,01:10,HAM,90,typical,None,2023-06-10 11:15:56.725541,oneway,25
1,2023-07-05 16:15:00,2023-07-05 17:50:00,ITA,01:35,FCO,MUC,0,None,None,120,typical,None,2023-06-10 11:15:56.725553,oneway,25
2,2023-07-05 18:55:00,2023-07-05 20:30:00,Lufthansa,01:35,FCO,MUC,0,None,None,131,typical,None,2023-06-10 11:15:56.725555,oneway,25
3,2023-07-05 15:55:00,2023-07-05 19:55:00,"Eurowings, Lufthansa",04:00,FCO,MUC,1,00:50,CGN,119,typical,None,2023-06-10 11:15:56.725557,oneway,25
4,2023-07-05 18:25:00,2023-07-06 09:30:00,Air France,15:05,FCO,MUC,1,11:25,CDG,120,typical,None,2023-06-10 11:15:56.725559,oneway,25
5,2023-07-05 10:50:00,2023-07-05 12:25:00,Lufthansa,01:35,FCO,MUC,0,None,None,131,typical,None,2023-06-10 11:15:56.725561,oneway,24
6,2023-07-05 12:55:00,2023-07-05 14:30:00,Lufthansa,01:35,FCO,MUC,0,None,None,152,typical,None,2023-06-10 11:15:56.725563,oneway,25
7,2023-07-05 08:00:00,2023-07-05 09:35:00,Lufthansa,01:35,FCO,MUC,0,None,None,173,typical,None,2023-06-10 11:15:56.725567,oneway,24
8,2023-07-05 20:15:00,2023-07-06 11:04:00,"SWISS, Lufthansa",14:49,Flight + Train,Flight + Train,2,None,None,239,typical,None,2023-06-10 11:15:56.725569,oneway,25

In [5]:
x.url

'https://www.google.com/travel/flights?q=Flights%20to%20MUC%20from%20FCO%20on%202023-07-05%20oneway'