In [1]:
from src.google_flight_analysis.scrape import Scrape

In [2]:
x = Scrape("FCO", "MUC", "2023-07-05")

In [3]:
x.run_scrape()

In [4]:
x.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-07-05 15:55:00,2023-07-05 19:55:00,"[Eurowings, Lufthansa]",240,FCO,MUC,1,50.0,CGN,140,typical,None,2023-06-21 15:56:14.130467,True,False,13
1,2023-07-05 16:15:00,2023-07-05 17:50:00,[ITA],95,FCO,MUC,0,NaN,None,144,typical,None,2023-06-21 15:56:14.130477,True,False,14
2,2023-07-05 10:50:00,2023-07-05 12:25:00,[Lufthansa],95,FCO,MUC,0,NaN,None,154,typical,None,2023-06-21 15:56:14.130480,True,False,13
3,2023-07-05 19:15:00,2023-07-06 09:10:00,"[Vueling, Iberia]",835,FCO,MUC,1,590.0,BCN,134,typical,None,2023-06-21 15:56:14.130482,True,False,14
4,2023-07-05 20:30:00,2023-07-05 06:45:00,[Lufthansa],95,FCO,MUC,0,NaN,None,154,typical,None,2023-06-21 15:56:14.130484,True,False,14
5,2023-07-05 10:10:00,2023-07-05 06:30:00,"[SWISS, Lufthansa]",205,FCO,MUC,1,60.0,ZRH,188,typical,None,2023-06-21 15:56:14.130486,True,False,13
6,2023-07-05 11:00:00,2023-07-05 15:05:00,[KLM],270,FCO,MUC,1,40.0,AMS,193,typical,None,2023-06-21 15:56:14.130488,True,False,13
7,2023-07-05 23:04:00,2023-07-05 12:55:00,"[SWISS, Lufthansa]",479,FCO,MUC,2,NaN,None,234,typical,None,2023-06-21 15:56:14.130492,True,True,14
8,2023-07-05 14:30:00,2023-07-05 08:00:00,[Lufthansa],95,FCO,MUC,0,NaN,None,238,typical,None,2023-06-21 15:56:14.130494,True,False,13

In [5]:
x.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-07-05 15:55:00,2023-07-05 19:55:00,"[Eurowings, Lufthansa]",240,FCO,MUC,1,50.0,CGN,140,typical,None,2023-06-21 15:56:14.130467,True,False,13
1,2023-07-05 16:15:00,2023-07-05 17:50:00,[ITA],95,FCO,MUC,0,NaN,None,144,typical,None,2023-06-21 15:56:14.130477,True,False,14
2,2023-07-05 10:50:00,2023-07-05 12:25:00,[Lufthansa],95,FCO,MUC,0,NaN,None,154,typical,None,2023-06-21 15:56:14.130480,True,False,13
3,2023-07-05 19:15:00,2023-07-06 09:10:00,"[Vueling, Iberia]",835,FCO,MUC,1,590.0,BCN,134,typical,None,2023-06-21 15:56:14.130482,True,False,14
4,2023-07-05 20:30:00,2023-07-05 06:45:00,[Lufthansa],95,FCO,MUC,0,NaN,None,154,typical,None,2023-06-21 15:56:14.130484,True,False,14
5,2023-07-05 10:10:00,2023-07-05 06:30:00,"[SWISS, Lufthansa]",205,FCO,MUC,1,60.0,ZRH,188,typical,None,2023-06-21 15:56:14.130486,True,False,13
6,2023-07-05 11:00:00,2023-07-05 15:05:00,[KLM],270,FCO,MUC,1,40.0,AMS,193,typical,None,2023-06-21 15:56:14.130488,True,False,13
7,2023-07-05 23:04:00,2023-07-05 12:55:00,"[SWISS, Lufthansa]",479,FCO,MUC,2,NaN,None,234,typical,None,2023-06-21 15:56:14.130492,True,True,14
8,2023-07-05 14:30:00,2023-07-05 08:00:00,[Lufthansa],95,FCO,MUC,0,NaN,None,238,typical,None,2023-06-21 15:56:14.130494,True,False,13

[x]  departure_datetime, arrival_datetime = add timezone

[x]  airlines = make it array
[x]  travel_time = convert it to minutes
[x]  layover_time = convert it to minutes
[x]  flight_type = rename it to "one_way", make it bool

In [6]:
x.url

'https://www.google.com/travel/flights?q=Flights%20to%20MUC%20from%20FCO%20on%202023-07-05%20oneway&curr=EUR&gl=IT'

In [7]:
x.data.to_csv("outputs/test.csv", index=False)