In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from src.google_flight_analysis.scrape import *

In [2]:
x = Scrape("MUC", "IST", "2023-06-29")

In [3]:
x.data

,Departure datetime,Arrival datetime,Airline(s),Travel Time,Origin,Destination,Num Stops,Layover,Stops Location,Price (€),Price Trend,Price Value,Access Date,Flight Type,Days in Advance
0,2023-06-29 12:35:00,2023-06-29 16:10:00,Pegasus,02:35,MUC,SAW,0,None,None,125,typical,None,2023-05-23,One Way,37
1,2023-06-29 13:05:00,2023-06-29 16:35:00,Turkish Airlines,02:30,MUC,SAW,0,None,None,134,typical,None,2023-05-23,One Way,37
2,2023-06-29 06:55:00,2023-06-29 14:05:00,"SunExpress, Pegasus",06:10,MUC,SAW,1,02:30,ADB,142,typical,None,2023-05-23,One Way,37
3,2023-06-29 11:10:00,2023-06-29 19:25:00,"SunExpress, Pegasus",07:15,MUC,IST,1,03:30,ADB,144,typical,None,2023-05-23,One Way,37
4,2023-06-29 16:35:00,2023-06-29 20:10:00,Pegasus,02:35,MUC,SAW,0,None,None,153,typical,None,2023-05-23,One Way,37
5,2023-06-29 07:15:00,2023-06-29 11:00:00,Turkish Airlines,02:45,MUC,IST,0,None,None,182,typical,None,2023-05-23,One Way,37
6,2023-06-29 10:30:00,2023-06-29 14:15:00,Turkish Airlines,02:45,MUC,IST,0,None,None,182,typical,None,2023-05-23,One Way,37
7,2023-06-29 14:20:00,2023-06-29 18:00:00,Turkish Airlines,02:40,MUC,IST,0,None,None,182,typical,None,2023-05-23,One Way,37
8,2023-06-29 19:20:00,2023-06-29 23:05:00,Turkish Airlines,02:45,MUC,IST,0,None,None,182,typical,None,2023-05-23,One Way,37
9,2023-06-29 08:28:00,2023-06-29 21:15:00,Lufthansa,11:47,Flight + Train,Flight + Train,2,"QUL, FRA","QUL, FRA",339,typical,None,2023-05-23,One Way,37

In [4]:
# dfs = []
# for i in range(10, 26):
#     print(i)
#     df = Scrape('MUC', 'JFK', f"2023-09-{i}")
#     dfs.append(df.data)
    
# df_all = pd.concat(dfs))
# # df_all

In [5]:
# plot_data = df_all.groupby("Days in Advance")["Price (€)"].mean()
# plt.plot(plot_data)